@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --altura-header:80px;
    --tam-img:40px;
    --coloc-imagen: calc((var(--altura-header) - var(--tam-img)) / 2 );
    --tam-iconos:30px;
    --coloc-iconos: calc((var(--altura-header) - var(--tam-iconos)) / 4);
    --tam-perfil: 55px;
    --altura-footer: 80px;
    --tam-sec2popUp: 30px;
    --s2popUp-col: calc( var(--tam-sec2popUp) / 4.3);
    --tam-sIndex4: 150px;
    --tam-sIndex5: 100px;
    --p-sIndex5: 16px;
    --coloc-sIndex5: calc( var(--tam-sIndex5) / 20);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/

header{
    border-bottom: 1px solid lightgrey;
    top: 0;
    height: var(--altura-header);
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
}

header>nav>section{
    float: right;
    display: flex;
}


header>nav{
    width: 100%;
}

header>a>img{
    height: var(--tam-img);
    margin-top: var(--coloc-imagen);
    margin-left: var(--coloc-imagen);
}

header>nav>section>a>img{
    width: var(--tam-iconos);
    padding: var(--coloc-iconos);
    margin-top: var(--coloc-iconos);
    margin-left: 5px;
    border-radius: 5px;
}

header>nav>section>a>img:hover{
    background: lightgrey;
}

header>nav>section>a span{
    right: 300px;
    top: calc(var(--altura-header) /2.5);
    position: absolute;
    display: none;
    text-decoration: none;
    color: black;
}

header>nav>section>a:hover span{
    display: block;
}

header>nav>section>div:hover{
    cursor: pointer;
    background: lightgrey;
}

header>nav>section>div{
    margin-left:5px;
    padding: 0 10px;
}

header>nav>section>div{
    width: var(--altura-header);
    height: var(--altura-header);
    display: flex;
}

header>nav>section>div>img{
    margin: auto;
    border-radius: 50%;
    width: var(--tam-perfil);
    height: var(--tam-perfil);
}

header>nav>section>div>span{
    height: 20px;
    margin-top: calc((var(--altura-header) - 20px) / 2);
}

header nav .profile{
    background: white;
    display: none;
    position: fixed;
    right: 0;
    top: var(--altura-header);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header nav .profile div{
    padding: 10px 15px;
}

header nav .profile div>section{
    padding: 5px 15px;
    margin: 5px 3px;
}

header nav .profile div>section:last-child{
    border-top: 1px solid lightgrey;
}

header nav .profile div>section:hover{
    border-radius: 5px;
    background: rgba(211, 211, 211, 0.5);
}

header nav .profile div a{
    display: flex;
    color: black;
    text-decoration: none;
}

header nav .profile div a>span{
    padding: 0 2px;
}

/* Main */

main{
    flex-direction: column;
    min-height: calc(100vh - var(--altura-header) - var(--altura-footer) - 5px);
    flex-grow: 1;
    margin-top: calc(var(--altura-header) + 5px);
}

/* Footer */

footer{
    display: grid;
    text-align: center;
    clear: both;
    background: #2e3094;
    color: white;
    width: 100%;
    height: var(--altura-footer);
}

footer>div{
    margin: auto;
}

footer #github{
    width: 15px;
}

footer table{
    margin:auto;
}

footer table td{
    padding:5px 2px;
    text-align: center;
    place-items: center;
}

footer table td:first-child{
    padding-top: 8px;
}

/* PÁGINA INDEX */

.mIndex>section{
    max-width: 95%;
    width: 1200px;
    margin: auto;
    text-align: center;
}

.mIndex section a{
    color: black;
    text-decoration: none;
}

.sIndex1 {
    padding: 30px 0 30px;
}

.sIndex1>h1{
    font-size: 32px;
    font-weight: 400;
}

.sIndex1>h3{
    font-size: 22px;
    font-weight: 400;
}

.sIndex2{
    padding: 20px 0 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sIndex2 form{
    padding: 20px 30px 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.sIndex2 .grid1, .sIndex2 .grid2{
    grid-column: span 2;
}

.sIndex2 form .popUp{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}

.sIndex2 .popUp>div{
    border: none !important;
    margin:auto;
    background: white;
}

.sIndex2 .popUp>div{
    display: block;
}

.sIndex2 .popUp .sec1popUp{
    padding: 10px 10px;
    display: flex;
    text-align: center;
}


.sIndex2 .sec1popUp h3{
    width: 100%;
}

.sIndex2 .sec1popUp span{
    padding-top: 3px
}
.sIndex2 .sec1popUp span:hover{
    cursor: pointer;
}

.sIndex2 .sec2popUp{
    padding: 5px;
    height: 500px;
    overflow-y: auto;
}
.sIndex2 .sec2popUp aside{
    display: none;
}

.sIndex2 .sec2popUp div{
    padding: 3px;
    width: 350px;
    border-radius: 7px;
    border: none !important;
    margin: 5px 10px;
}

.sIndex2 .sec2popUp div:hover{
    cursor: pointer;
    background: lightgrey;
}

.sIndex2 .sec2popUp>div>img{
    width: var(--tam-sec2popUp);
}

.sIndex2 .sec2popUp>div>p{
    padding-top:var(--s2popUp-col);
    width: 100%;
    text-align: left;
}

.sIndex2 .sec2popUp>div>span{
    padding-top: var(--s2popUp-col);
}

.sIndex2 .sec2popUp aside div{
    margin: 10px 20px;
    padding: 6px;
}

.sIndex2 .sec2popUp .typeAtr{
    border-radius: 0;
    border-bottom: 1px solid grey !important;
}

.sIndex2 .grid2>section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sIndex2 .grid2 p{
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sIndex2 .grid2 span{
    padding-top:3px;
    width: 30px;
}

.sIndex2 .grid3{
    grid-column: span 1;
}

.sIndex2 form div{
    display: flex;
    border-radius: 10px;
}

.sIndex2 form div:nth-child(-n+2){
    border: 1px solid lightgrey;
}

.sIndex2 form div img{
    padding: 5px;
    width: 20px;
    margin:0 5px 0;
}

.sIndex2 form div input{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
}

.sIndex2 form div button{
    width: 100%;
    background: #00adec;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 15px;
}

.sIndex2 form div button:hover{
    cursor: pointer;
    background: #2e3093;
}

.sIndex3{
    display: flex;
    overflow-x: auto;
    padding: 30px 0 10px;
}

.sIndex3 form{
    display: flex;
}

.sProd1 .sec2::-webkit-scrollbar, body::-webkit-scrollbar,.sIndex3::-webkit-scrollbar, .sIndex2 .popUp  .sec2popUp::-webkit-scrollbar {height: 8px; width: 10px}
.sProd1 .sec2::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb,.sIndex3::-webkit-scrollbar-thumb, .sIndex2 .popUp  .sec2popUp::-webkit-scrollbar-thumb {background-color: lightgrey; border-radius: 5px;}
.sProd1 .sec2::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover,.sIndex3::-webkit-scrollbar-thumb:hover, .sIndex2 .popUp  .sec2popUp::-webkit-scrollbar-thumb:hover {background-color: rgb(180, 180, 180);}

.sIndex3 a{
    margin:0 5px 0;
    padding:10px 10px 2px;
}

.sIndex3 a:first-child{
    margin: 0 5px 0 0;
}

.sIndex3 a:hover{
    cursor: pointer;
    border-radius: 15px;
    background: rgba(211, 211, 211, 0.5);
}
.sIndex3 form img{
    width: 45px;
}

.sIndex3 form div p{
    width: 90px;
    font-size: 11px;
}

.sIndex4{
    padding: 30px 0 20px;
}

.sIndex4 h1, .sIndex4 h3{
    font-weight: normal;
}

.sIndex4 h3{
    padding-bottom: 15px;
}

.sIndex4 form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.sIndex4 form div{
    height: var(--tam-sIndex4);
    background: url("../IMG/IMAGENES_GIFS/fondoDiv.gif") no-repeat right bottom / var(--tam-sIndex4) auto;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.sIndex4 form div:hover{
    background: rgba(211, 211, 211, 0.2);
    cursor: pointer;
}

.sIndex4 form div{
    display: flex;
}

.sIndex4 form div>aside{
    text-align: left;
    width: 50%;
}

.sIndex4 form div>aside:first-child{
    padding-left: 20px;
    padding-top:20px;
}

.sIndex4 form div>aside h3{
    font-weight: bolder;
}

.sIndex4 form div>aside img{
    width: var(--tam-sIndex4);
    margin: calc(var(--tam-sIndex4) / 6);
    float: right;
}

.sIndex4 #img3{
    width: calc(var(--tam-sIndex4) / 1.5)
}

.sIndex5{
    padding: 10px 0;
}

.sIndex5 form{
    padding:10px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

.sIndex5 form div{
    border-radius: 15px;
    border: 1px solid lightgrey;
    display: flex;
}

.sIndex5 form div:hover{
    background: rgba(211, 211, 211, 0.2);
    cursor: pointer;
}

.sIndex5 form aside{
    display: grid;
}

.sIndex5 form aside:first-child{
    width: calc(100% - var(--tam-sIndex5));

}

.sIndex5 form p, .sIndex5 form img{
    margin: auto;
}

.sIndex5 form p{
    font-size: var(--p-sIndex5);
}

.sIndex5 form img{
    width: var(--tam-sIndex5);
    margin: var(--coloc-imagen);
    margin-left: 0;
}

/* Página Productos */

.mProd>section{
    max-width: 95%;
    width: 1200px;
    margin: auto;
}

.sProd1{
    padding-bottom: 15px;
}

.sProd1 form{
    padding-top: 10px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sProd1>form>.ordenProd{
    display: flex;
    border-top: 1px solid lightgrey;
    width: 100%;
    grid-column: span 5;
    padding: 5px 0;
}


.sProd1>form>.ordenProd div:first-child{
    font-size: 13px;
    display: flex;
}

.sProd1>form>.ordenProd .orderSelected{
    font-weight: bolder;
}

.sProd1>form>.ordenProd div:first-child p{
    padding-top: 2px;
}

.sProd1>form>.ordenProd #popupOrder {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.25);
}

#popupOrder>#secOrder{
    margin: auto;
    background: white;
    padding: 5px 5px 10px 5px;
}

#popupOrder>#secOrder nav{
    border-bottom: 1px solid lightgrey;
    margin: 10px;
    display: flex;
}

#popupOrder>#secOrder nav p{
    width: 100%;
    color: grey;
}

#popupOrder>#secOrder span{
    margin-left: auto;
}

#popupOrder>#secOrder>div{
    display: flex;
    padding: 5px 60px 5px 10px;
    margin: 3px;
}

#popupOrder>#secOrder>div:hover{
    border-radius: 10px;
    background: lightgrey;
}

#popupOrder>#secOrder>div>p{
    width: 100%;
}

#popupOrder>#secOrder>div>span{
    margin: 0 3px 0 0;
}

.sProd1>form>.ordenProd a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-left: auto;
}

.sProd1 form div{
    cursor: pointer;
}

.sProd1 .typeExist{
    background: rgba(0, 173, 236);
    color: white;
}

.sProd1 form .grid1{
    border-radius: 25px;
    grid-column: span 5;
    border: 1px solid lightgrey;
    display: flex;
}

.sProd1 .grid1 img:first-child{
    width: 25px;
    padding: 10px;
}

.sProd1 .grid1 input{
    width: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
}

.sProd1 .grid1 img:last-child{
    opacity: 0;
    width: 15px;
    margin: 15px;
}

.sProd1 .grid2, .sProd1 .grid3{
    border-radius: 5px;
    border: 1px solid lightgrey;
    grid-column: span 2;
}

.sProd1 .grid2>section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sProd1 .grid2>section span{
    padding: 0 5px
}

.sProd1 .grid2 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sProd1 .typePrice{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.sProd1 .typePrice>div{
    margin: auto;
    background: white;
    border-radius: 15px;
    display: block;
}

.sProd1 .typePrice .sPrice1{
    padding: 10px 10px;
    display: flex;
    text-align: center;
}

.sProd1 .sPrice1 h3{
    width: 100%;
}

.sProd1 .sPrice1 span{
    padding-top: 3px;
    cursor: pointer;
}

.sProd1 .sPrice2{
    padding: 20px 30px;
}


.sProd1 .sPrice2>div{
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    width: 100%;
    background: rgba(211, 211, 211, 0.5);
    margin: 15px 0;
}

.sProd1 .sPrice2 input{
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
}

.sProd1 .sPrice2 span{
    padding:10px 5px 0 0;
}

.sProd1 .sPrice2>section{
    display: flex;
    cursor: default;
}

.sProd1 .sPrice2>section>div{
    padding: 3px 5px;

}
.sProd1 .sPrice2>section>div{
    text-decoration: underline;
}


.sProd1 .sPrice2>section>button{
    border-radius: 15px;
    margin-left: auto;
    background: #00adec;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.sProd1 .sPrice2 input[type=number]::-webkit-inner-spin-button,
.sProd1 .sPrice2 input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sProd1 .grid3>section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sProd1 .grid3 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sProd1 .popUp{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}

.sProd1 .popUp> div{
    border-radius: 10px;
    margin:auto;
    background: white;
    display: block;
}

.sProd1 .popUp .sec1{
    padding: 10px 10px;
    display: flex;
    text-align: center;
}

.sProd1 .sec1 h3{
    width: 100%;
}

.sProd1 .sec1 span{
    padding-top: 3px
}

.sProd1 .sec2{
    padding: 5px;
    height: 500px;
    overflow-y: auto;
}

.sProd1 .sec2>section>p{
    margin: 5px 15px;
    padding: 5px 0;
    border-bottom: 1px solid lightgrey;
}

.sProd1 .sec2>section>p:hover{
    background: lightgrey;
}

.sProd1 .sec2 aside{
    display: none;
}

.sProd1 .sec2 div{
    display: flex;
    padding: 3px;
    width: 350px;
    border-radius: 7px;
    margin: 10px;
}

.sProd1 .sec2 div:hover{
    cursor: pointer;
    background: lightgrey;
}

.sProd1 .sec2>div>img{
    padding: 3px 3px 3px 5px;
    width: var(--tam-sec2popUp);
}

.sProd1 .sec2>div>p{
    padding: 5px 0 0 8px;
    width: 100%;
    text-align: left;
}

.sProd1 .sec2>div>span{
    padding-top: 5px;
}

.sProd1 .sec2 aside div{
    margin: 10px 20px;
    padding: 6px;
}

.sProd1 .sec2 .typeAtr{
    border-radius: 0;
    border-bottom: 1px solid grey !important;
}

.sProd1 form div button{
    height: 30px;
    width: 100%;
    background: #00adec;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.sProd1 form div button:hover{
    cursor: pointer;
    background: #2e3093;
}


/* PÁGINA BLOCK */
.mBlock{
    display: grid;
}

.mBlock>section{
    text-align: center;
    justify-content: center;
    margin: auto;
    padding:10px 0;
    background: lightgrey;
    width: 100%;
}

.mBlock>section p{
    padding: 5px 0;
}

.mBlock>section a{
    text-decoration: underline;
    color: black;

}

/* PUBLICAR */

.mPublic{
    margin-top: var(--altura-header);
    background: #f2f3f6;
    min-height: calc(100vh - var(--altura-header) - var(--altura-footer));
}

.mPublic>form{
    padding-top: 10px;
    max-width: 95%;
    width: 1200px;
    margin: auto;
}

.mPublic>form .sPublic1{
    border-radius: 10px;
    background: white;
    padding: 30px;
}

/* MEDIA QUERY */

@media (max-width: 440px) {

    :root{
        --p-sIndex5: 16px !important;
        --tam-sIndex5: 150px !important;
    }

    .sIndex4 form div>aside:first-child{
        width: 75%;
        padding: 10px 0 0 10px;
    }

    .sIndex4 form div>aside img{
        width: calc(var(--tam-sIndex4) / 1.75);
        padding:0;
        margin: 40px 15px 0 0;
        float: right;
    }

    .sIndex4 #img3{
        width: calc(var(--tam-sIndex4) / 2);
        margin:40px 20px 0 0;
    }

    .sIndex4 form aside p{
        font-size: 13px;
    }

    .sIndex4 form aside h3{
        font-size: 16px;
    }
}

@media (max-width: 715px) {

    .sIndex2 form, .sIndex4 form, .sIndex5 form, .sProd1 form{
        grid-template-columns: 1fr !important;
    }

    .sIndex2 .grid2 section, .sProd1 .grid3 section{
        max-width: 100%;
    }

    .mIndex .grid1, .mIndex .grid2, .mIndex .grid3, .sProd1 form div, .sProd1>form>section{
        grid-column: span 1 !important;
        overflow: hidden;
    }

}

@media (max-width: 1260px) {

    :root{
        --p-sIndex5: 22px;
        --tam-sIndex5: 200px;
    }

    .sIndex5 form{
        grid-template-columns: repeat(2,1fr);
    }

}