@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --tam-img:45px;
    --altura-header:90px;
    --coloc-imagen: calc((var(--altura-header) - var(--tam-img)) / 2 );
    --tam-logos:30px;
    --tam-li: 20px;
    --padding-li: calc(var(--altura-header) / 3);
    --altura-footer: 80px;

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightgrey;
}

/* header */

header{
    z-index: 100;
    display: flex;
    top:0;
    height: var(--altura-header);
    position: fixed;
    width: 100%;
    background-color: white;
}

header>a>img{
    height: var(--tam-img);
    width: calc((1600px * var(--tam-img)) / 200);
    padding-top: var(--coloc-imagen);
    padding-left: var(--coloc-imagen);
}

header>nav{
    width: 100%;
}

ul{
    float: right;
    list-style: none;
    overflow: hidden;
}

ul>a{
    background: white;
    font-size: var(--tam-li);
    padding: var(--padding-li);
    float: left;
}

ul>a:hover{
    cursor: pointer;
    font-weight: bolder;
}

ul>a:hover{
    border-top: 3px solid #2e3094;
    margin-bottom: -3px;
}

ul:hover > :not(:hover){
    font-weight: normal;
    border-top: none;
    opacity: 0.5;
}

.liActive{
    border-top: 3px solid #2e3094;
    margin-bottom: -3px;
    font-weight: bolder;
}

header>nav>ul>a{
    text-decoration: none;
    color: #2e3094;
}

/* Main */

main{
    flex-direction: column;
    min-height: calc(100vh - var(--altura-header) - var(--altura-footer));
    flex-grow: 1;
    margin-top: var(--altura-header);
}

/* Footer */

footer{
    display: grid;
    text-align: center;
    clear: both;
    background: #2e3094;
    color: white;
    width: 100%;
    height: var(--altura-footer);
}

footer>div{
    margin: auto;
}

footer #github{
    width: 15px;
}

footer table{
margin:auto;
}

footer table td{
    padding:5px 2px;
    text-align: center;
    place-items: center;
}

footer table td:first-child{
    padding-top: 8px;
}

/* PÁGINA INDEX */

.mIndex{
    display: grid;
}

#indexDiv{
    margin: auto;
}

.mIndex>p{
    margin: 10px auto;
    text-align: center;
    left: 2.5%;
    width: 95%;
    position: absolute;
    background: rgba(255, 127, 127, 1);
}

.mIndex>div>section{
    background: white;
    padding: 20px;
    position: absolute;
    z-index: 1;
}

#login{
    z-index: 2;
    margin-left: -100px;
    margin-top:-100px;
}

#registro{
    margin-left: -100px;
    margin-top:-100px;
}

.atras{
    background: rgba(255, 255, 255, 0.5) !important;
    z-index: -1 !important;
    transition: 1s;
    margin-left: -50px !important;
    margin-top: -50px !important;
}

.atras>form{
    opacity: 0;
    transition: 1s;
}

/* PÁGINA ERROR */
#mError{
    display: grid;
}

#mError>div{
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: auto;
}