@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --tam-img:45px;
    --altura-header:90px;
    --coloc-imagen: calc((var(--altura-header) - var(--tam-img)) / 2 );
    --tam-logos:30px;
    --tam-li: 20px;
    --padding-li: calc(var(--altura-header) / 3);
    --altura-footer: 80px;

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightgrey;
}

/* header */

header{
    z-index: 100;
    display: flex;
    top:0;
    height: var(--altura-header);
    position: fixed;
    width: 100%;
    background-color: white;
}

header #logo{
    display: none;
}

header img{
    height: var(--tam-img);
    width: calc((1600px * var(--tam-img)) / 200);
    padding-top: var(--coloc-imagen);
    padding-left: var(--coloc-imagen);
}

header img.desplegable{
    padding-right: var(--coloc-imagen);
    display: none;
    margin-left: auto;
}

header>nav{
    width: 100%;
}

header>nav.open{
    display: block;
}

ul{
    float: right;
    list-style: none;
}

ul>a{
    font-size: var(--tam-li);
    padding: var(--padding-li);
    float: left;
}

ul>a:hover{
    cursor: pointer;
    font-weight: bolder;
}

ul>a:hover{
    border-top: 3px solid #2e3094;
    margin-bottom: -3px;
}

ul:hover > :not(:hover){
    font-weight: normal;
    border-top: none;
    opacity: 0.5;
}

.liActive{
    border-top: 3px solid #2e3094;
    margin-bottom: -3px;
    font-weight: bolder;
}

header>nav>ul>a{
    text-decoration: none;
    color: #2e3094;
}

/* Main */

main{
    flex-direction: column;
    min-height: calc(100vh - var(--altura-header) - var(--altura-footer));
    flex-grow: 1;
    margin-top: var(--altura-header);
}

/* Footer */

footer{
    display: grid;
    text-align: center;
    clear: both;
    background: #2e3094;
    color: white;
    width: 100%;
    height: var(--altura-footer);
}

footer>div{
    margin: auto;
}

footer #github{
    width: 15px;
}

footer table{
margin:auto;
}

footer table td{
    padding:5px 2px;
    text-align: center;
    place-items: center;
}

footer table td a{
    color: white;
}

footer table td:first-child{
    padding-top: 8px;
}

/* PÁGINA INDEX */

.mIndex{
    display: grid;
}

#indexDiv{
    margin: auto;
}

.mIndex>p{
    margin: 10px auto;
    text-align: center;
    left: 2.5%;
    width: 95%;
    position: absolute;
    background: rgba(255, 127, 127, 1);
}

.mIndex>div>section{
    outline: 1px solid #00adec;
    border-radius: 0 15px 15px 0;
    display: flex;
    position: absolute;
    z-index: 1;
}

.mIndex form{
    background: white;
    border-radius: 0 15px 15px 0;
    padding:40px 40px 40px 30px;
}

.mIndex #login form{
    padding: 48px 40px 48px 30px;
}

.mIndex form section{
    text-align: center;
}

.mIndex form section img{
    margin-bottom: 20px;
    width: 100px;
}

.mIndex form input[type="text"], .mIndex form input[type="password"]{
    margin-left: 5px;
    height: 30px;
    font-size: 16px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
}

.marg20{
    margin-bottom: 20px;
}

.mIndex input[type="checkbox"]{
    accent-color: #00adec;
    margin-top: 14px;
}

.mIndex form span{
    margin-left: -3px;
    color: #00adec;
}

.mIndex form a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.mIndex form a:hover{
    color: #2e3093 ;
    text-decoration: underline;
}

.mIndex form button{
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    color: white;
    margin-top: 15px;
    background: #00adec;
    border: none;
}

.mIndex form button:hover{
    background: #2e3094;
    transition: 1s;
}

#secName{
    margin-bottom: 20px;
}

#secPass{
    margin-bottom: 10px;
}

.mIndex form>div>div{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
}

.mIndex form div:focus-within > div>span{
    color: #2e3094;
    transition:.25s;
}

.mIndex form div:focus-within > div{
    border-bottom: 1px solid #2e3094;
    transition:.25s;
}

#indexDiv>section>aside {
    background: #00adec;
    color: white;
    text-align: center;
}

#indexDiv>section>aside h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

#indexDiv>section>aside img{
    width: 200px;
    margin: 90px 30px 10px 30px;
}

#login, #registro{
    margin-left: -285px;
    margin-top:-200px;
}

#login{
    z-index: 2;
}

.atras{
    outline: 0 !important;
    background: rgba(255, 255, 255, 0.5) !important;
    z-index: -1 !important;
}

.atras>form, .atras>aside{
    display: none;
}

.colorRed{
    border-bottom: 1px solid red !important;
}

.colorOrange{
    border-bottom: 1px solid orange !important;
}

/* PÁGINA ERROR */

#mError{
    display: grid;
}

#mError>div{
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: auto;
}

#mError>div img{
    max-width: 95%;
}

/* Error */

.e404{
    display: flex;
    align-items: center;
}

.e404>div{
    text-align: center;
    margin-top: 10px;
}

.e404>div img{
    max-width: 95%;
    width: 500px;
}


/* Media query */

@media (min-height: 250px){


    main{
        height: 500px;
    }

}

@media (min-height: 500px){
    main{
        height: 700px;
    }
}

@media (max-width: 760px) {

    header>nav{
        background: white;
        width: auto;
        right: 0;
        border: 1px solid #2e3094;
        display: none;
        position: fixed;
        top: var(--altura-header);
    }

    header>nav ul a{
        display: block;
        float: revert;
    }

    .liActive{
        border-top: none;
        font-weight: bolder;
        background: #2e3094;
        color: white;
    }

    ul>a:hover{
        border-top: none;
        background: #2e3094;
        color: white;
        font-weight: normal;
    }


    header img.desplegable{
        display: block;
    }
    
}

@media (max-width: 600px) {

    .mIndex>div>section{
        border-radius: 20px;
        outline: 1px solid #00adec;
        display: block;
    }

    #login, #registro{
        margin-left: -155px;
        margin-top: -250px;
    }

    .mIndex>div aside{
        border-radius: 20px 20px 0 0;
    }
    .mIndex>div aside h3{
        padding: 5px 0;
    }

    .mIndex>div form{
        border-radius: 0 0 20px 20px;
    }

    .mIndex>div>section aside>div>img{
        display: none;
    }

}


@media (max-width: 385px) {

    header #logo{
        display: block;
    }

    header #logoE{
        display: none;
    }

}

@media (max-width: 320px) {

    #login, #registro{
        margin-left: -137px;
        margin-top: -250px;
    }

    .mIndex form{
        padding: 20px 20px 20px 15px;
    }

    .mIndex #login form{
        padding: 24px 20px 24px 15px;
    }
}


@media (max-width: 280px) {
    :root{
        --altura-footer: 100px;
    }
}

@media (max-width: 220px) {
    :root{
        --altura-footer: 130px;
    }
}
